@model Space_Fridge_Forum.Models.Fridge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fridge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HexColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HexColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd>
            @if (Model.Ingredients.Count == 0)
            {
            <p>
                No ingredients added yet, @Html.ActionLink("edit", "Edit", new { id = Model.UserId }) your fridge to add ingredients that are currently in your fridge you awesome astronaut!
            </p>
            }
            @foreach (var item in Model.Ingredients)
            {
                <p>
                    @item.IngredientType.Type&thinsp;@item.Value@item.IngredientUnit.Unit
                </p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
