@using Space_Fridge_Forum.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
@RenderBody()
@ReactHelpers.RenderState(ReactComponentRendering.Instance.ReactComponentInstances)
@Html.EmitRequiredScripts()
</body>
</html>